@import "tailwindcss";

@theme {
  --color-violet-black: #0E0816;
  --color-violet-black-deep: #0B0612;
  --color-obsidian-black: #07050C;
  --color-neon-purple: #9B30FF;
  --color-soft-white: #F5F5F5;
  --color-off-white: #EAEAEA;
  --color-amber-gold: #FFC107;
  --color-cyan: #00FFF7;
  --color-magenta: #FF3EC7;
  --color-electric-blue: #3EA6FF;
  --color-slate-gray: #B0B0B0; 
  --color-crimson-red: #DC143C;
  --color-violet-gray: #1C1128;
}